html{
    box-sizing: border-box;
    height: 100%;

}
*{

    margin: 0;
    padding: 2px;
}
:root{
    --clr: #a86262;
    --clr1: rgb(0, 76, 82);
}
body{

    align-items: center;
    background: var(--clr1);
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-display: swap;
    justify-content: center;
}

.menu{
    width: 100%;
    height: 100px;
    background-color: var(--clr);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.menu ul{
    display: flex;
    justify-content: space-between;
}
.menu ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    padding: 30px;
    z-index: 10;
}
.menu ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.menu ul li a .icon{
    position: relative;
    display: block;
    transition: 0.75s;
    color: var(--clr);
}
.menu ul li.active a .icon{
    transform: translateY(40px);
}
.menu ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.95em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.menu ul li.active a .text{
    opacity: 1;
    color: black;
    transform: translateY(-10px);
}
.indicator{
    position: absolute;
    width: 57px;
    height: 57px;
    background: blue;
    left:33px;
    top: 50px;
    border-radius:50%;
    border: 6px solid var(--clr1);
    transition: 0.5s;
    box-shadow: 0px 10px 0 0 var(--clr1);
}
.indicator::before{
    content: '';
    position: absolute;
    bottom:22%;
    left: -26px;
    width: 20px;
    height: 20px;
    background: var(--clr);
    border-bottom-right-radius: 20px;
    box-shadow: 6px 6px 0 0 var(--clr1);

}
.indicator::after{
    content: '';
    position: absolute;
    bottom:22%;
    right: -26px;
    width: 20px;
    height: 20px;
    background: var(--clr);
    border-bottom-left-radius: 20px;
    box-shadow: -6px 6px 0 0 var(--clr1);

}
.menu ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.menu ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1.86));
}
.body{
    padding: 30px;
    align-items: center;
    display: flex;
}
